body {
  margin: 0;
  padding: 0;
  background-color: palevioletred;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checker {
  width: 350px;
  text-align: center;
  padding: 30px;
  border-radius: 20px;

  /* Glassmorphism style */
  background: rgba(255, 255, 255, 0.8); /* semi-transparent white */
  backdrop-filter: blur(10px);           /* blur effect */
  border: 2px solid rgba(255, 255, 255, 0.4);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* soft shadow */
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: mediumvioletred;   /* same as button hover */
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-shadow: 0px 1px orchid;
}
p {
    color: orchid;
}
#love {
    color: palevioletred;
}

button {
  background: orchid;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

button:hover {
  background: mediumvioletred;
  font-family: "Comic Sans MS", cursive, sans-serif;
  transform: scale(1.1);
}
span {
    color: purple;
}
